body {
    margin: 0;
}

main {
    width: 100%;
	height: 100vh;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-gap: 1rem;
    width: 42,5%;
    height: 40%;
    padding: 15%;
}

.first {
    grid-column-start: 1;
    grid-row: 1/span 2;
    background: #007F5F;
}

.second {
    grid-column-start: 2;
    grid-row: 1/span 4;
    background: #80B918;
}

.third {
    grid-column-start: 3;
    grid-row: 1/2;
    background: #DDDF00;
}

.fourth {
    grid-column: 1/2;
    grid-row: 3/5;
    background: #2B9348;
}

.fifth {
    grid-column: 3/3;
    grid-row: 2/4;
    background: #EEEF20;
}

.sixth {
    grid-column: 3/3;
    grid-row: 4/5;
    background: #FFFF3F;
}

.grid__container__two {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-gap: 1rem;
    width: 42,5%;
    height: 40%;
    padding: 15%;
}

.seven {
    grid-column: 1/2;
    grid-row: 1/3;
    background: #55A630;
}

.eight {
    grid-column: 2/3;
    grid-row: 1/2;
    background: #AACC00;
}

.nine {
    grid-column: 3/4;
    grid-row: 1/3;
    background: #D4D700;
}

.ten {
    grid-column: 4/4;
    grid-row: 1/3;
    background: #007F5F;
}

.eleven {
    grid-column: 2/2;
    grid-row: 2/2;
    background: #BFD200;
}

.grid__container__three {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 10%;
}

.text  {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding: 5%;
    text-transform: uppercase;
    color: #000000;
    background: #9BC1BC;
}